@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(40, 51, 65)
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
}